body {
    background-color: rgb(244, 238, 238);
    margin: 0;
    padding: 0;
  }

  canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 1vw;
    bottom: 0;
    left: 0;
    right: 0;
  }


#intro {
    padding: 0vw 0 0 0;
}

#end {
    text-align: center;
}

  h1 {
    font-family: Viga;
    color: #df5555;
    font-size: 100px;
    text-align: center;
  }
  
  p{
    font-family: IBM Plex Serif;
    color: #000;
    text-align: left;
    display: block;
    font-size: 18px;
    margin-top: 7em;
    margin-left: 5em;
    margin-right: 5em;
  }
  

  .introduction{
    margin: 50vw 7vw 0 7vw;
  }

  .cover {
    margin: auto;
    padding: auto;
  }
  * {
    box-sizing: border-box;
  }
  

  /* two */
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 6vw 0;
  
  }
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 8px;
  }
  .column img {
    margin-top: 16px;
    vertical-align: middle;
  }
  
    /* three */
    .three {
      display: flex;
      flex-wrap: wrap;
      padding: 6vw 0;
    }
    .div {
      flex: 33%;
      max-width: 33%;
      padding: 0 8px;
    }
    .div img {
      margin-top: 16px;
      vertical-align: middle;
    }

  /* five */
  .thumb {
    display: flex;
    flex-wrap: wrap;
    padding: 6vw 0;
  
  }
  .nails {
    flex: 20%;
    max-width: 20%;
    padding: 0 8px;
  }
  .nails img {
    margin-top: 16px;
    vertical-align: middle;
  }
  







  @media (max-width: 1200px) {
    /* *{
      background-color: #000;
    } */

    .column {
      flex: 100%;
      max-width: 100%;
    }
    .introduction{
      margin: 130vw 7vw 0 7vw;
    }
  }


  @media (max-width: 700px) {
    html {
      /* background-color: #000; */
      max-width: 100%;
      overflow-x: hidden;
    }

    .column {
      flex: 100%;
      max-width: 100%;
    }
    .introduction{
      margin: 200vw 1vw 0 1vw;
    }
  }